<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theambitiouscoder.firebasechatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name="com.theambitiouscoder.firebasechatapp.ui.chat.ChatActivity"/>


        <service android:name="com.theambitiouscoder.firebasechatapp.repository.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>
        <activity android:name="com.theambitiouscoder.firebasechatapp.ui.users.UsersActivity" />
        <activity android:name="com.theambitiouscoder.firebasechatapp.ui.user.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theambitiouscoder.firebasechatapp.ui.user.profile.ProfileActivity" />
        <activity android:name="com.theambitiouscoder.firebasechatapp.ui.user.signup.SignUpActivity" />
    </application>

</manifest>